 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
 h1 {
    font-size: 30px;
 }
 .orange-color{
    color: orange;
 }
 .felxible{
    display: flex;
    margin-bottom: 100px;
 }
 .half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10px;
    
 }
 .half-width img{
    width:60%;
    padding-top: 50px;
   
 }
 .link-button{
   text-decoration: none;
   background-image: linear-gradient(orange,tomato);
   padding: 10px 10px;
   color: white;
   font-weight: 700;
   border-radius: 5px;
 }
 .top{
   background-image: url(images/top-banner.png) ;
   background-repeat: no-repeat;
 }
 .dream{
   background-image:url(images/dream-bg.png) ;
   background-repeat: no-repeat;
   background-position-x: right;
 }
 .experience-item{
   width: 40%;
   margin-left: 5%;
   margin-right: 5%;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 10px 10px 40px gray;
 }
 h2{
   font-size: x-large;
 }
 .experience{
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
 }