 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
 h1 {
    font-size: 30px;
 }
 .orange-color{
    color: orange;
 }
 section{
    display: flex;
 }
 .half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10px;
    margin-bottom: 100px;
 }
 .half-width img{
    width:60%;
    padding-top: 50px;
   
 }
 .link-button{
   text-decoration: none;
   background-image: linear-gradient(orange,tomato);
   padding: 10px 10px;
   color: white;
   font-weight: 700;
   border-radius: 5px;
 }
 .top{
   background-image: url(images/top-banner.png) ;
   background-repeat: no-repeat;
 }
 .dream{
   background-image:url(images/dream-bg.png) ;
   background-repeat: no-repeat;
   background-position-x: right;
 }